{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h4>{{=T('Images')}}</h4>
{{=form}}
<hr/>

<select>
  <option value="a">asp</option>
  <option value="c">c</option>
  <option value="cpp">c++</option>
  <option value="cf">coldfusion</option>
  <option value="g">groovy</option>
  <option value="h">haskell</option>
  <option value="j">java</option>
  <option value="js">javascript</option>
  <option value="p1">perl</option>
  <option value="p2">php</option>
  <option value="p3">python</option>
  <option value="r">ruby</option>
  <option value="s">scala</option>
</select>

<h4>Available Images:</h4>
{{for image in images:}}
	{{=A(IMG(_src=URL('static', 'images/%(imageId)s.png' % image), _width=150),_href=URL('main','label/%(id)s' % image))}}
{{pass}}

